@-ms-viewport {
  width: device-width;
}
* {
  margin: 0;
}
.App {
  
  position: relative;
  //padding-top: -50px;
  .ava-corner {
    position: fixed;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;

    //margin-top: ;
    .avatar1 {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  //===========Intro============
  .intro {
    position: absolute;
    top: 30%;
    width: 100%;

    //height: 10%;
    .ava-name {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      .myname {
        -webkit-text-stroke: 0.5px var(--h1Cl);
        -webkit-text-fill-color: transparent;
        
        margin: 20px;
      }
      .ducred {
        -webkit-text-fill-color: var(--h2Cl);
       // text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 5px, #FFF 0px 0px 5px, #FF2D95 0px 0px 7px, #FF2D95 0px 0px 9px, #FF2D95 0px 0px 12px, #FF2D95 0px 0px 15px, #FF2D95 0px 0px 20px;

      }
      .ava-container {
        width: 170px;
        height: 170px;
       // border-radius: 50%;
        //overflow: hidden;
        
        border: 2px solid rgb(255, 255, 255);
        position: relative;
        &:hover{
          box-shadow: 0 0 5px rgb(42, 6, 245), 0 0 5px rgb(42, 6, 245), 0 0 8px rgb(42, 6, 245), 0 0 10px #3b02bf, 0 0 15px #3b02bf, 0 0 20px #3b02bf,
        0 0 27px #3b02bf, 0 0 37px #3b02bf; 
        }
        .avatar {
          //object-fit: cover;
          width: 100%;
          
          z-index: 1;
          position: absolute;
          left: -3%;
          bottom: -3%;
          margin: 5px;
        }
      }
    }
    .des {
      // position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      //text-align: left;
      .more,
      .moreM {
        padding: 10px 15px;
        border: 3px solid var(--textCl);
        color:#fff ;
        font-family: popitalic;
         /* box-shadow: 0 0 5px rgb(42, 6, 245), 0 0 10px rgb(42, 6, 245), 0 0 15px rgb(42, 6, 245), 0 0 20px #3b02bf, 0 0 30px #3b02bf, 0 0 40px #3b02bf,
        0 0 55px #3b02bf, 0 0 75px #3b02bf;  */
        border-radius: 5px;
        cursor: pointer;
       // margin-top: 10px;
        &:hover, &:active{
          text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

        }
      }
      /* .moreM {
        //display: none;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

      } */
      span {
        display: inline-block;
        text-shadow: 0 0 5px rgb(42, 6, 245), 0 0 10px rgb(42, 6, 245), 0 0 15px rgb(42, 6, 245), 0 0 20px #3b02bf, 0 0 30px #3b02bf, 0 0 40px #3b02bf,
        0 0 55px #3b02bf, 0 0 75px #3b02bf; 
        //text-shadow: rgb(255, 255, 255) 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

      }
      p {
        margin-bottom: 20px;
      }
      .line0 {
        margin-left: -120%;
      }
      .line1 {
        margin-left: 120%;
      }
      .line2 {
        margin-left: -120%;
      }
      .line3 {
        margin-left: 120%;
       //margin-bottom: 50px;
      }
    }
  }
  //============Main===========
  .main {
    width: 85%;
    margin-left: 100%;
    margin-top: 5%;
    padding-top: 10px;
    //margin-bottom: 20px;
    background-color: var(--mainBgColor);
    border-radius: 9px;

    //======Skills=========
    .skills {
      .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        .skill-item {
          ul {
            padding: 0;
            li {
              padding: 10px;
            }
          }
        }
      }
    }
    //=========PROJECTS=========
    .projects {
      &__items {
        display: flex;
        // flex-direction:column ;
        justify-content: space-around;
        .wraper {
          //margin-top: 20px;
          width: 400px;
          // margin-bottom: 20px;
          // margin-left: 40px;
          // max-width: 240px;
          background: transparent;
          z-index: 30;
          &:hover .inner {
            z-index: 30;
          }
          .wrap {
            // perspective: 1000;
            position: relative;
            top: 0;
            left: 0;
            list-style-type: none;
            margin: 0;
            height: 200px;
            width: 100%;
            margin-bottom: 0px;
            // -webkit-font-smoothing: antialiased;
            .inner {
              // transform-style: preserve-3d;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 200px;
              cursor: pointer;
              z-index: 1;
              .face {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                // padding-right: 10%;
                // padding-left: 10%;
                height: 100%;
                overflow: hidden;
                border: 1px solid #999;
                //line-height: 80px;
                // font-size: 18px;
                font-weight: bold;
                // text-align: left;
                color: #fff;
                // text-shadow: 1px 1px 1px #555;
                //text-align: left;
                // backface-visibility: hidden;
                // transform-origin: '50% 0';
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }
              .back {
                // transform: rotateX(-90);
                width: 100%;
                height: 90%;
                top: 200px;
                left: 0;
                //text-align: right;
                border: 1px solid #eee;
                //text-shadow: 1px 1px 1px #fff;
                //color: #333;
                background-color: rgb(211, 194, 170);
                text-align: center;
                h3 {
                  margin: 20px 0;
                  color: rgb(99, 98, 98);
                }
                p {
                  //-webkit-text-stroke: 0.5px rgb(245, 236, 236);
                  font-size: 12px;
                  margin: 0 8px;
                  line-height: normal;
                  color: #333;
                }
              }
            }
          }
        }
      }
    }

    //==========EDU===========
    .edu {
      .container {
       
        h4 {
          text-align: center;
          width: 30%;
          color: rgb(242, 250, 250);
        }
        .degree {
          width: 50%;
          text-align: left;
          transition: 0.3s;
        }
        
        .edu-item{
          &:not(:last-child){
            margin-bottom: 20px;
          }
        }
        
        .flex-content {
          //background: gray;
        
         

          &:hover {
            .degree,
            p {
              color: #f8d49f;
              transition: 0.3s;
            }
            .num {
              background-color: rgb(247, 241, 195);
              transition: 0.3s;
              .int {
                color: black;
                transition: 0.3s;
              }
            }
          }
          .num {
            margin-left: 50px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid rgb(247, 241, 195);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
          }
        }
      }
    }

    //==========EXP=======
    .exp {
      .exp-content {
        &:hover {
          .timeline {
            .circle {
              border-color: rgb(247, 241, 195);
              transition: 0.3s;
            }
          }
          .period {
            span {
              color: rgb(247, 241, 195);
            }
          }

          .company-task {
            .task-list {
              li {
                color: rgb(247, 241, 195);
              }
            }
          }
        }
        .period {
          span {
            color: var(--textCl);
          }
          .time {
            text-transform: uppercase;
          }
        }
        .company-task {
          width: 60%;
          margin: 20px 0;

          .jobtitle {
            padding-bottom: 10px;
            h4,
            h5 {
              text-align: left;
              margin: 5px 0;
              color: rgb(242, 250, 250);
            }
            h5 {
              font-family: popitalic;
            }
          }

          ul {
            margin: 0;

            li {
              list-style: none;
              text-align: left;
            }
          }
        }
      }
    }

    //===============Contact
    .footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 5%;
      background-color: grey;

      .logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          width: 20px;
        }
        .fb,
        .git {
          width: 10px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .fb,
        .git,
        .linked,
        .email {
          margin: 5px;
        }
      }
    }

    .btn-back2top {
      position: fixed;
      bottom: 20px;
      right: 25px;
      height: 50px;
      width: 50px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid rgb(211, 194, 170);
      //background: rgb(44, 42, 32);
      // display: flex;
      display: none;
      align-items: center;
      cursor: pointer;
      z-index: 40;
&:hover, &:active{
  box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 25px;;

}

      p {
        font-size: 11px;
        color: rgb(245, 220, 186);
        font-weight: 200;
        z-index: 10;
        
      }
    }
  }
}

//===============RESPONSIVE+++++++++++++++++
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

@media (max-width: 712px) {
  * {
    .App {
      padding-top: 0 !important;
      h2 {
        font-size: 22px;
      }

      h3 {
        font-size: 16px;
      }
      h4 {
        font-size: 14px;
      }
      h5 {
        font-size: 12px;
      }
      p,
      li {
        font-size: 12px;
      }
      .menu1
       {
        display: none;
      }
      .menu2{
        top: 50%;
        height: 100vh;
        background-color: var(--mainBgColor);
        width: 102%;
        margin-left: -102%;
        z-index: 50;
      }
      .nav-btn-container {
        display: flex;
      }
      .intro {
        .ava-name {
          .myname {
            font-size: 25px;
            margin: 0 0 0 5px;
          }
          .ava-container {
            width: 100px;
            height: 100px;
            //margin-left: 10px;
            .avatar{
              left: -5%;
              bottom: -5%;
            }
          }
        }
        .des{
          .more{
            font-size: 10px;
            width: 114px;
            display: block;
          }
        }
      }

      .main {
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        .projects {
          &__items {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .wraper {
              width: 70% !important;
              margin: 10px 0;
             
              

            }
          }
        }
        .edu {
          .container {
            .flex-content {
              .num {
                margin-left: 0 !important;
                width: 20px;
                height: 20px;
              }
              h4 {
                font-size: 12px;
              }
            }
          }
        }
        .exp {
          &-content {
            flex-direction: column;
            .timeline {
              display: none;
            }

            .period {
              span {
                color: rgb(247, 241, 195) !important;
              }
            }

            .company-task {
              width: 80% !important;
              margin-top: 5px !important;

              .task-list {
                margin-bottom: 10px !important;
                padding-left: 5px;
                li {
                  color: rgb(247, 241, 195);
                }
              }
            }
          }
        }
        .back2top {
          right: 10px;
         // display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
         
        }
      }
    }
  }
}

@media (max-width:$xxs-max){
 .App{
   .main{
     .projects__items{
      .wraper {
        width: 90%  !important;
        margin: 20px 0;
        height: 150px;
        .wrap{
          height: 100%;
          .inner{
            height: 100%;
          }
        }
        

      }
     }
   }
 }
}

@media (max-width:$sm-max){
  .App{
    .main{
      .projects__items{
       .wraper {
         width: 45%;
         margin: 20px 0;
         height: 220px;
         .wrap{
           height: 100%;
           .inner{
             height: 100%;
           }
         }
         
 
       }
      }
    }
  }
}